<table class="table table-hover">
    <thead>
    <tr>
        <td>Nome</td>
        <td>E-mail</td>
        <td>Telefone</td>
        <td>Cpf</td>
        <td colspan="2">Actions</td>
    </tr>
    </thead>
  
    <tbody>
        <tr *ngFor="let consumidor of consumidores">
            <td>{{ consumidor.nome }}</td>
            <td>{{ consumidor.email }}</td>
            <td>{{ consumidor.telefone }}</td>
            <td>{{ consumidor.cpf }}</td>
            <td><a [routerLink]="['/edit', consumidor._id]" class="btn btn-primary">Editar</a></td>
            <td><button (click)="deleteAdUnit(consumidor._id)" class="btn btn-danger">Excluir</button></td>
        </tr>
    </tbody>
  </table>